<!DOCTYPE html>
<html>
<head>
  <script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="/static/images/shame.jpg">
  <link rel="stylesheet" href="/static/css/style.css" />
  <script src="/static/js/index.js"></script>
</head>
<body>
      <div class="dimScreen" style="display: none;">
          <div class="ImageLoadingPopUp"></div>
      </div>
      <center id="headerID">
        <div class="header">
          <img style="border-radius:70%" src="/static/images/shame.jpg"></img>
        </div>
        <input id="textSearchInput" type="text" placeholder="Send" class="textSearch" />
        <button id="buttonSearchID" class="buttonSearch">Send</button>
      </center>

      <center>
        <footer id="footer" class="container-fluid">
          <p>&copy; <script>document.write(new Date().getFullYear())</script> Hackathon Revolution UC</p>
        </footer>
      </center>
</body>
</html>
